ControlDeEstudio/Service References/TestServiceReference/TestService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCategoriaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoriaDTO" nillable="true" type="tns:CategoriaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoriaDTO" nillable="true" type="tns:ArrayOfCategoriaDTO" />
  <xs:complexType name="CategoriaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoriaId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temas" nillable="true" type="tns:ArrayOfTemasDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoriaDTO" nillable="true" type="tns:CategoriaDTO" />
  <xs:complexType name="ArrayOfTemasDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TemasDTO" nillable="true" type="tns:TemasDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemasDTO" nillable="true" type="tns:ArrayOfTemasDTO" />
  <xs:complexType name="TemasDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoriaId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
      <xs:element minOccurs="0" name="SubTemas" nillable="true" type="tns:ArrayOfSubtemaDTO" />
      <xs:element minOccurs="0" name="TemaId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TemasDTO" nillable="true" type="tns:TemasDTO" />
  <xs:complexType name="ArrayOfSubtemaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubtemaDTO" nillable="true" type="tns:SubtemaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubtemaDTO" nillable="true" type="tns:ArrayOfSubtemaDTO" />
  <xs:complexType name="SubtemaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
      <xs:element minOccurs="0" name="Referencias" nillable="true" type="tns:ArrayOfReferenciaDTO" />
      <xs:element minOccurs="0" name="SubtemaId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TemaId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubtemaDTO" nillable="true" type="tns:SubtemaDTO" />
  <xs:complexType name="ArrayOfReferenciaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReferenciaDTO" nillable="true" type="tns:ReferenciaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReferenciaDTO" nillable="true" type="tns:ArrayOfReferenciaDTO" />
  <xs:complexType name="ReferenciaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Autor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fuente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenciaId" type="xs:int" />
      <xs:element minOccurs="0" name="SubtemaId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReferenciaDTO" nillable="true" type="tns:ReferenciaDTO" />
</xs:schema>