ControlDeEstudio/Service References/TestServiceReference/TestService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:45634/Servicios/TestService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.DTOs" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCategorias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCategoriasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services.DTOs" minOccurs="0" name="ObtenerCategoriasResult" nillable="true" type="q1:ArrayOfCategoriaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services.DTOs" minOccurs="0" name="categoriaDTO" nillable="true" type="q2:CategoriaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarCategoriaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarCategoriaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Services.DTOs" minOccurs="0" name="dto" nillable="true" type="q3:CategoriaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarCategoriaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarTema">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Services.DTOs" minOccurs="0" name="temaDTO" nillable="true" type="q4:TemasDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarTemaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTemaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarTema">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Services.DTOs" minOccurs="0" name="temaDTO" nillable="true" type="q5:TemasDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarTemaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarSubtema">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Services.DTOs" minOccurs="0" name="temaDTO" nillable="true" type="q6:SubtemaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarSubtemaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarSubtema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarSubtemaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarSubtema">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Services.DTOs" minOccurs="0" name="temaDTO" nillable="true" type="q7:SubtemaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarSubtemaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarReferencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Services.DTOs" minOccurs="0" name="referenciaDTO" nillable="true" type="q8:ReferenciaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarReferenciaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarReferencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarReferenciaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarReferencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Services.DTOs" minOccurs="0" name="referenciaDTO" nillable="true" type="q9:ReferenciaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarReferenciaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>