ControlDeEstudio/Service References/UsuariosServiceReference/UsuarioService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsuariosDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuariosDTO" nillable="true" type="tns:UsuariosDTO" />
  <xs:complexType name="ArrayOfUsuariosDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuariosDTO" nillable="true" type="tns:UsuariosDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuariosDTO" nillable="true" type="tns:ArrayOfUsuariosDTO" />
</xs:schema>